* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outline: #82649c;
}

@font-face {
  font-family: 'Dogica';
  src: url(/dogicabold.otf);
}

body {
  background-color: #daebff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23cb9df0' fill-opacity='0.14' fill-rule='evenodd'/%3E%3C/svg%3E");
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Minecraftia';
  flex-direction: column-reverse;
}

span.emoji {
  font-family: 'Emoji';
  color: var(--outline);
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

#calculator {
  background-image: url(/calculator_nobtns.png);
  height: 365px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

input {
  text-align: right;
  position: absolute;
  right: 26px;
  top: 1.7rem;
  width: 225px;
  background-color: transparent;
  font-family: 'Dogica', sans-serif;
  border: none;
  color: var(--outline);
  padding: 0 10px;
  height: 75px;

  &::placeholder {
    color: inherit;
  }

  &:focus-within {
    border-radius: 15px;
  }
}

#calculator button {
  background-image: url(/button.png);
  border: none;
  width: 59px;
  height: 68px;
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--outline);
  filter: drop-shadow(7px 8px 0px #fba9f4);
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 119px;
}

.row {
  position: relative;
  display: flex;
  gap: 6px;

  &:first-of-type {
    top: -5px;
  }

  &:nth-of-type(2) {
    top: -21px;
  }

  &:nth-of-type(3) {
    top: -37px;
  }

  &:nth-of-type(4) {
    top: -53px;
  }
}

#calculation {
  position: absolute;
  font-size: 8px;
  top: 41px;
  right: 52px;
  color: var(--outline);
}

#attribute {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--outline);

  & a {
    position: relative;
    top: 0;
    text-underline-offset: 0px;
    margin-left: 10px;
    transition: all 200ms ease-in-out;
  }

  & a:hover {
    top: -5px;
    text-underline-offset: 4px;
  }
}
